<br />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h4 class="card-header">Register</h4>
            <div class="card-body">
                @if (ViewBag.Error != null)
                {
                    <p class="alert alert-danger">@ViewBag.Error</p>
                }

                <form method="post">
                    <div class="input-group mb-3">
                        <span class="material-icons input-group-text" id="usericon">person</span>
                        <input name="username" class="form-control" placeholder="Username" type="text" aria-label="Username" aria-describedby="usericon">
                    </div>
                    <div class="d-flex">
                        <input type="submit" class="btn btn-primary flex-grow-1" value="Register" />
                        <a asp-action="Login" class="btn btn-outline-secondary flex-grow-1 ms-1">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>